.App {
  text-align: center;
}

.crypto {
  width: 30%;
  margin: auto;
}

.crypto-li {
  border: solid 1px black;
  list-style: none;
  width: 100%;
}

/* color change classes  */

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}
